@import 'libs/bootstrap-reboot.min.css';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    padding: 0;
    margin: 0;
    font-family: "Graphik", sans-serif;
    // "DIN Pro", sans-serif;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

@import 'blocks/button';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/limited';
@import 'blocks/box';
@import 'blocks/geek.scss';
