.btn {
    padding: 20px 38px;
    // width: 160px;
    height: 60px;
    background-color: $main-color;
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 91%;
    text-transform: uppercase;
    color: #fff;
    border: none;
}