.compliment {
    // position: relative;
    padding: 100px 0;
    margin-top: 100px;
    background-color: #F8F8F8;
    // min-height: 530px;
    &__wrapper {
        width: 595px;
        // height: 200px;
        margin: 0 auto;

    }
    // &__text {
    //     width: 595px;
    //     height: 200px;
    // }
    &__title {
        color: $main-color;
    }
    &__text {
        margin-top: 50px;
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        color: #0D0D0D;
        span {
            margin: 30px;
            font-family: 'DIN Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 91%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #0D0D0D;
            opacity: 0.4;
        }
    }
}
// .slick-dots {
//     // display: block;
//     // display: flex;
//     // justify-content: center;
//     border-radius: 100%;
//     border: 10px solid red;
//     width: 10px;
// }