header {
    padding: 20px 70px 20px 100px;
    // min-height: 100px;
    nav {
        display: grid;
        grid-template-columns: 450px 260px 260px;
        justify-content: space-around;
        align-content: center;
        // column-gap: normal;
        .menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            list-style-type: none;
            justify-content: space-between;
            align-content: center;
            // column-gap: 50px;
            &_item  {
                margin-top: 20px;
                position: relative;
                font-family: 'Graphik';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #0D0D0D;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
            .plus {
                &::after {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 1px;
                    background-color: #000;
                    position: absolute;
                    // left: 40px;
                    right: -16px;
                    top: 6px;

                }
                &::before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 10px;
                    background-color: #000;
                    position: absolute;
                    right: -12px;
                    top: 2px;
                }
                // li:nth-child(2) {
                // }
            }
            .gift {
                a {
                    position: absolute;
                    left: 21px;
                }
            }
            /* ul {
                li {
                }
            } */
        }
    }
}