.promo {
    position: relative;
    padding: 100px 0 120px 230px;
    background-color: $main-color;
    min-height: 600px;
    z-index: 5;
    &__title {
        // @include star
        // width: 330px;
    }
    &__text {
        margin-top: 30px;
        width: 380px;
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }
    &__btn {
        background-color: #fff;
        color: #0D0D0D;
        margin-top: 50px;
    }
    &__img1 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__img2 {
        position: absolute;
        right: 230px;
        bottom: 0;
    }
}